<!-- Services -->
<div class="services">
	<div class="container">
		<div class="services-grids">
			<div class="col-md-9 services-left">
				<h1>Our services</h1>
				<div class="services-left-grids">
					<div class="col-md-6 services-left-grid">
						<h3>Service Name</h3>
						<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat</p>
						<a class="more-btn" href="#">More</a>
					</div>
					<div class="col-md-6 services-left-grid">
						<h3>Service Name</h3>
						<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat</p>
						<a class="more-btn" href="#">More</a>
					</div>
					<div class="col-md-6 services-left-grid">
						<h3>Service Name</h3>
						<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat</p>
						<a class="more-btn" href="#">More</a>
					</div>
					<div class="col-md-6 services-left-grid">
						<h3>Service Name</h3>
						<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat</p>
						<a class="more-btn" href="#">More</a>
					</div>
					<div class="col-md-6 services-left-grid">
						<h3>Service Name</h3>
						<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat</p>
						<a class="more-btn" href="#">More</a>
					</div>
					<div class="col-md-6 services-left-grid">
						<h3>Service Name</h3>
						<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat</p>
						<a class="more-btn" href="#">More</a>
					</div>
					<div class="clearfix"> </div>
					<ul class="pagenation">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 services-right">
				<h3>Recent-Services</h3>
				<ul>
					<li><a href="#"><span> </span>tortor sit amet molestie fringilla</a></li>
					<li><a href="#"><span> </span>packages and web page editors</a></li>
					<li><a href="#"><span> </span>desktop publishing packages</a></li>
					<li><a href="#"><span> </span>tweb page editors now use</a></li>
					<li><a href="#"><span> </span>opposed to using Many desktop</a></li>
					<li><a href="#"><span> </span>Many desktop publishing</a></li>
					<li><a href="#"><span> </span>packages and web page editors</a></li>
					<li><a href="#"><span> </span>desktop publishing packages</a></li>
					<li><a href="#"><span> </span>tweb page editors now use</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- Services -->