<!-- about-us -->
<div class="about">
	<div class="container">
		<div class="about-grids">
			<div class="col-md-9 about-left">
				<h1>About us</h1>
				<p>Praesent facilisis, dolor in commodo rutrum, risus elit dignissim mi, eu tempor ligula eros nec nunc. Integer accumsan viverra eleifend. Donec malesuada massa diam, quis finibus elit euismod ac. Cras rhoncus pulvinar dictum. Morbi porta commodo mauris eget eleifend. In non volutpat turpis, malesuada facilisis elit. Nam vitae elementum orci. Cras quis elit metus.</p>
				<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra bibendum malesuada.</p>
					<ul>
						<li><a href="#"><span> </span>Risus elit dignissim mi, eu tempor ligula eros nec nunc</a></li>
						<li><a href="#"><span> </span>Pellentesque finibus tincidunt metus. Proin hendrerit fermentum tortor </a></li>
						<li><a href="#"><span> </span>commodo rutrum, risus elit dignissim mi, eu tempor ligula eros nec nunc</a></li>
						<li><a href="#"><span> </span>Praesent facilisis, dolor in commodo rutrum, risus elit dignissim mi,</a></li>
					</ul>
				<p>Praesent facilisis, dolor in commodo rutrum, risus elit dignissim mi, eu tempor ligula eros nec nunc. Integer accumsan viverra eleifend. Donec malesuada massa diam, quis finibus elit euismod ac. Cras rhoncus pulvinar dictum. Morbi porta commodo mauris eget eleifend. In non volutpat turpis, malesuada facilisis elit. Nam vitae elementum orci. Cras quis elit metus.</p>
				<ul>
						<li><a href="#"><span> </span>commodo rutrum, risus elit dignissim mi, eu tempor ligula eros nec nunc</a></li>
						<li><a href="#"><span> </span>Praesent facilisis, dolor in commodo rutrum, risus elit dignissim mi,</a></li>
					</ul>
				<p>Dolor in commodo rutrum, risus elit dignissim mi, eu tempor ligula eros nec nunc. Integer accumsan viverra eleifend. Donec malesuada massa diam, quis finibus elit euismod ac. Cras rhoncus pulvinar dictum. Morbi porta commodo mauris eget eleifend. In non volutpat turpis, malesuada facilisis elit. Nam vitae elementum orci. Cras quis elit metus.</p>
			</div>
			<div class="col-md-3 about-left">
				<h2>Latest News</h2>
				<!-- news-grid -->
				<div class="news-grid">
					<%=  image_tag("pic1.jpg") %>
				</div>
				<!-- news-grid -->
				<!-- recent-news -->
				<div class="recent-posts">
					<h2>Recent-posts</h2>
					<!-- recent-post-grids -->
						<div class="recent-post-grids">
							<div class="r-post-grid">
								<div class="r-post-grid-left">
									<%= link_to image_tag("people-pic.jpg"), "#" %>
								</div>
								<div class="r-post-grid-right">
									<h4>risus elit dignissim</h4>
									<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="r-post-grid">
								<div class="r-post-grid-left">
									<%= link_to image_tag("people-pic1.jpg"), "#" %>
								</div>
								<div class="r-post-grid-right">
									<h4>risus elit dignissim</h4>
									<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="r-post-grid">
								<div class="r-post-grid-left">
									<%= link_to image_tag("people-pic3.jpg"), "#" %>
								</div>
								<div class="r-post-grid-right">
									<h4>risus elit dignissim</h4>
									<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					<!-- recent-post-grids -->
				</div>
				<!-- recent-news -->
			</div>
		</div>
	</div>
</div>	
<!-- about-us -->