<% content_for :title do %>
	<%= " - About US"%>
<% end %>
<aside id="fh5co-hero" clsas="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
	   	<li style="background-image: url(assets/slide_3.jpg);">
	   		<div class="overlay-gradient"></div>
	   		<div class="container">
	   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
	   				<div class="slider-text-inner">
	   					<h1>Who We Are</h1>
	   					
	   				</div>
	   			</div>
	   		</div>
	   	</li>
	  	</ul>
  	</div>
</aside>
<div class="fh5co-services">
	<div class="container">
		<div class="row">
			<div class="about-grids">
				<div class="col-md-9 about-left">
					<h1>Our Strategy</h1>
					<p>
					Spa911 is an exclusive spa services for your CAR at your own doorstep. 
					</p>
					<p>
						<b> *We CARE about your car as much as you do.*</b>
					</p>	
					<p>
					  <b>	*We don't clean it, we make it new for you* </b>
				  </p>
				  <p>
						<b> *Spa911 is nothing but your own BRAND NEW CAR* </b>
					</p>
					<p>We care about our customer needs and we care for mother nature.
					We fulfill our responsibilities towards all.
					Our strategy is to bring world class cutting edge technologies and machineries to clean your valuable car residentialy at affordable price without compromising on environmental responsibility.</p>
					<h1>Our Services</h1>
					<p>Born with the sole motto of delivering and delighting our customers  with finest car wash services keeping in focus the customer requirements and exceeding their desired level of satisfaction. Our focus is to provide the customer with a car wash service which marks a lifelong impression on your hearts and having a delight of a brand new car. All at a very efficient, effective , pocket-friendly & environment friendly services at your doorstep with a technologicaly sound & fully equipped team of professionals.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fh5co-cta" style="background-image: url(assets/image_3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="col-md-12 text-center animate-box">
			<h3>We Try To Update The Site Everyday</h3>
			<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
		</div>
	</div>
</div>
<!-- about-us -->