<!-- about-us -->
<div class="about">
	<div class="container">
		<div class="about-grids">
			<div class="col-md-9 about-left">
				<h1>Our Services</h1>
				<p>Born with the sole motto of delivering and delighting our customers  with finest car wash services keeping in focus the customer requirements and exceeding their desired level of satisfaction. Our focus is to provide the customer with a car wash service which marks a lifelong impression on their hearts and having a delight of a brand new car. All at a very efficient, effective , pocket-friendly & environment friendly services at your doorstep witha a technologicaly sound & fully equipped team of professionals.</p>

				
				<h1>Our Strategy</h1>
				<p>We care about our customer needs and we care for mother nature.
				We fulfill our responsibilities towards all.
				Our strategy is to bring world class cutting edge technologies and machineries to clean your valuable car residentialy at affordable price without compromising on environmental responsibility.</p>

				<p>
					<b> *WE CARE as much as you care about your car*</b>
				</p>	
				<p>
				  <b>	*We don't clean it, we make it new for you* </b>
			  </p>
			  <p>
					<b> *Spa911 is nothing but your own BRAND NEW CAR* </b>
				</p>
			</div>
		</div>
	</div>
</div>	
<!-- about-us -->