<div class="header">
	<div class="container">
		<!-- logo -->
		<div class="logo">
			<%= link_to image_tag("logo.png"), "#" %>
		</div>
		<!-- /logo -->
		<!-- top-nav -->
		<div class="top-nav">
			<span class="menu"> </span>
			<ul>
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="products.html">Products</a></li>
				<li><a href="contact.html">Contact</a></li>
				<div class="clearfix"> </div>
			</ul>
		</div>
		<!-- script-for-nav -->
		<script>
			$(document).ready(function(){
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle(1000);
				});
			});
		</script>
		<!-- script-for-nav -->
		<!-- /top-nav -->
		<div class="clearfix"> </div>
	</div>
	<!-- /header -->
</div>